.header {
  width: 100%;
  display: flex;
  flex: 1;
  background-color: #05696d;
  color: white;
  padding: 6px 0px;
}
.header-menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header-leftFold {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: center;
}

.header-label {
  font-size: 20px;
  font-weight: 500;
  margin-left: 16px;
}

.header-rightFold {
  display: flex;
  flex: 11;
  justify-content: space-evenly;
}

.header-profile 
{
  display: flex;
  flex: 4;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  
}

.header-avatar 
{
  height: 32px;
  padding : 5px;
}


